
.slide {
  .slide-item {
    width: 150px;
    height: 150px;
    font-size: 42px;
    text-align: center;
    padding: 40px 30px;
    color: #FFF;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .slide-next,
  .slide-previous {
    width: 72px;
    height: 72px;
    font-size: 48px;
    border-radius: 50%;
    background: $color-accent;
    text-align: center;
    padding: 0;
    margin: auto 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transition: all .2s ease;

    &.slide-on-corner {
      transform: scale(.5);
      opacity: 0;
      overflow: hidden;
    }
  }

  &.slide-absolute {
    .slide-next,
    .slide-previous {
      color: #fff;
    }

  }
}

.header {
  background: linear-gradient(150deg,#53f 15%, #05d5ff 70%, #a6ffcb 94%);
  padding-bottom: 100px;
  perspective: 2000px;
  z-index: 2;
  position: relative;
  min-height: 500px;

  @include media-breakpoint-up(lg) {
    min-height: 700px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right bottom, transparent 50%, #FFF 50%);
    height: 150px;

    @include media-breakpoint-up(lg) {
      height: 350px;
    }
  }
}

.dropdown-animation.in-transition .dropdown-menu,
.full-dropdown.in-transition .dropdown-menu {
  display: block;
}

.dropdown-animation .dropdown-menu {
  opacity: 0;
  transition-duration: .25s;
  transform-origin: 0 0  ;
  transform: rotate3d(1,-1,0,-15deg);
  transition-property: transform, opacity;
  box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
}

.dropdown-animation.open .dropdown-menu,
.full-dropdown.open .dropdown-menu {
  opacity: 1;
  transform: none;
}

.full-dropdown {
  position: inherit;
}

.full-dropdown .dropdown-menu {
  color: $text-color-base;
  left: 0;
  right: 0;
  top: 15px;
  opacity: 0;
  border-radius: 6px;
  transition-duration: .25s;
  transform-origin: 100% 0;
  transform: rotate3d(1,2,0,-15deg);
  transition-property: transform, opacity;
  box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);

  &:after,
  &:before {
    display: none;
  }

  .dropdown-header {
    border-radius: 6px 6px 0 0;
  }

  .dropdown-footer {
    border-radius: 0 0 6px 6px;
    background: #F6F9FC;
  }
}

.dropdown-full-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}

.btn-shadow {
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  }
}

.bg-light {
  background: #fff !important;
}


.card-shadow {
  padding: 40px 40px 40px 120px;
  border-color: transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  transition: all .15s ease;

  .fa {
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -3px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  }
}

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
