.btn-primary {
  @include button-variant($color-primary);
}

.btn-outline-primary {
  @include button-outline-variant($color-primary);
}

.btn-accent {
  @include button-variant($color-accent);
}

.btn-outline-accent {
  @include button-outline-variant($color-accent);
}

.btn-success {
  @include button-variant($color-success);
}

.btn-link {
  @include button-text-variant($link-color);
}


.btn-sm {
  padding: ($btn-padding-y * .9) ($btn-padding-x * .9);
  font-size: .875rem;
}

.form-group-md .btn,
.btn-md {
  padding: ($btn-padding-y * 1.125) ($btn-padding-x * 1.125);
  font-size: 1.125rem;
}

.form-group-lg .btn,
.btn-lg {
  padding: ($btn-padding-y * 1.5) ($btn-padding-x * 1.5);
  font-size: 1.25rem;
}


// Text

.btn-text {
  @include button-text-variant($text-color-base);
}

.btn-text-muted {
  @include button-text-variant($text-muted-dark);
}

.btn-text-accent {
  @include button-text-variant($color-accent);
}
