$color-primary: #007ee5;
$color-primary-dark: #026DC5;
$color-success: #3ECF8E;

$headings-font-weight: 400;

$btn-font-weight: 600;
$font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;
$text-pre-muted-color: #566b78;
$text-muted-color: #8B9EA9;

$link-color: #008cdd;

$text-semibold-weight: 600;

$text-muted-dark: #6b7c93;


$btn-default-bg: #333;

$input-checkbox-icon: url(../../images/icon-check.svg);
