.bg-primary { background-color: $color-primary !important; }

.bg-primary-dark { background-color: $color-primary-dark !important; }

.bg-accent { background-color: $color-accent !important; }

.bg-success { background-color: $color-success !important; }

.bg-warning { background-color: $color-warning !important; }
