@mixin make-margin($position, $margin) {
  .margin-#{$position} {
    margin-#{$position}: $margin;
  }

  .margin-#{$position}-lg {
    margin-#{$position}: ($margin * 1.25);
  }

  .margin-#{$position}-md {
    margin-#{$position}: ($margin * .5);
  }

  .margin-#{$position}-sm {
    margin-#{$position}: ($margin * .25);
  }
}

@include make-margin(  left, $util-margin-horizontal);
@include make-margin( right, $util-margin-horizontal);
@include make-margin(   top, $util-margin-vertical);
@include make-margin(bottom, $util-margin-vertical);

.no-margin {
  margin: 0 !important;
}
