// Alignment

.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }
.text-truncate       { @include text-truncate; }

// Weight italic
//
.text-weight-normal { font-weight: normal; }
.text-weight-light { font-weight: $text-light-weight; }
.text-weight-semibold { font-weight: $text-semibold-weight; }
.text-weight-bold { font-weight: bold; }
.text-italic { font-style: italic; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }

// Contextual colors

@include text-emphasis-variant('.text-muted', $text-muted);

@include text-emphasis-variant('.text-muted-dark', $text-muted-dark);

@include text-emphasis-variant('.text-primary', $color-primary);

@include text-emphasis-variant('.text-accent', $color-accent);

@include text-emphasis-variant('.text-success', $color-success);

@include text-emphasis-variant('.text-warning', $color-warning);

@include text-emphasis-variant('.text-light', #FFF);

