$color-primary: #007ee5;
$color-primary-dark: #026DC5;

$headings-font-weight: 400;

$font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
$text-pre-muted-color: #566b78;
$text-muted-color: #8B9EA9;

$link-color: #008cdd;
