$color-primary: #007ee5;
$color-primary-dark: #026DC5;
$color-accent: #E91E63;

$font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
$headings-font-weight: 700;
$text-pre-muted-color: #566b78;
$text-muted-color: #8B9EA9;

$link-color: #008cdd;
