$color-primary: #007ee5;
$color-primary-dark: #026DC5;
$color-accent: #E91E63;

$font-family-base: 'Open Sans', sans-serif;
$text-pre-muted-color: #2f4654;
$text-muted-color: #566b78;

$link-color: #008cdd;
