@import 'variables';
@import 'base';

body {
  overflow-y: scroll;
}

.toolbar {
  background: #007EE5;
  height: 120px;
  margin-bottom: 50px;
}

article {

  p {
    font-size: 18px;
  }

  padding-bottom: 50px;
}

.footer {
  background: #f9f9f9;
  min-height: 500px;
  padding: 50px 0;

  .anchor-list {
    .header {
      color: #464646;
    }

    > li > a {
      color: #767676;
    }
  }
}


.cover {
  height: 260px;
}
