@import 'variables';
@import 'base';

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.article {
  min-height: 720px;
  background: #2BDE73;
}

.article-text-content {
  max-width: 530px;
  float: right;
  padding-top: 70px;
}

.article {
  .img-cover {
    background-image: url(https://67.media.tumblr.com/d4fc5d8a1be21248dbe2298a64365341/tumblr_obwh5b4dJ41qz7t0xo1_1280.jpg);
    height: 340px;
  }

  .article-content {
    padding: 50px 66px;
    color: #fff;
    p {
      font-size: 1.25em;
      line-height: 2.1rem;
    }
  }
}

.bg-blue {
  min-height: 500px;
  background: #EEF6F9
}

.article-2 {
  background: #E02A86;
  height: 400px;
}

.around-xs {
  justify-content: space-around;
  flex-pack: distribute;
}

.header {

}

.notifications {
  width: 360px;
  top: 60px;

  .dropdown-item {
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .notification {
    padding-left: 3rem + $dropdown-item-padding-x / 1.5;
    text-decoration: none !important;
    color: $text-pre-muted-color;
    font-size: .875em;

    > img {
      float: left;
      width: 2.25rem;
      height: 2.25rem;
      margin-left: -3.1rem;
    }

    > p {
      margin: 0;
    }
  }
}


.modal-post {
  .modal-post-header {
    .btn {
      height: 45px;
    }
  }
}

.slide-previous,
.slide-next {
  > .fa {
    font-size: 48px;
  }
}

.slide-item {
  background: #333;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  color: #FFF;
  font-size: 48px;
  padding: 45px;
  text-align: center;
}
