.footer-default {
  position: relative;

  .nav {
    font-size: 15px;
    float: left;

    > li > a {
      transition: all .15s ease;
      @include link-variant(#8898aa, darken(#8898aa, 30%));
    }
  }
}
.footer-content {
  padding: 80px 0;
}

.footer-section-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #7B8998;
  margin-bottom: 15px;
}
