@mixin make-navbar($color, $text-color: #FFF) {
  background-color: $color;
  color: $text-color;

  .navbar-brand {
    color: $text-color;
  }

  .navbar-nav {
    .nav-link {
      color: rgba($text-color, .6);

      &:hover {
        color: rgba($text-color, .8);
      }

      &:active,
      &.active {
        color: $text-color;
      }
    }
  }
}
