@mixin panel-variant($bg: $panel-bg, $border-color: $panel-border-color, $border-width: $panel-border-width) {
  border: $border-width solid $border-color;
  background: $bg;

}

@mixin panel-header-variant ($bg: $panel-header-bg, $border-color: $panel-border-color, $border-width: $panel-border-width) {
  border-bottom: $border-width solid $border-color;
  background: $bg;
}
