@mixin table-row-variant($parent, $color, $text-color: #FFF, $ligthen-border: true) {
  #{$parent} {
    background: $color;
    color: $text-color;

    td, th {
      border-color: $color;
      border-left-color: color-variant($color, 8%, $ligthen-border);

      &:first-child {
        border-left-color: $color;
      }
    }

    // + tr {
    //   td, th {
    //     border-top-color: $color;
    //   }
    // }
  }

  // thead#{$parent} {
  //   + tbody tr:first-child td {
  //     border-top-color: $color-accent;
  //   }
  // }
}
