// Typography

@mixin link-variant($color, $color-active: darken($color, 12%)) {
  color: $color;

  @include hover-focus {
    color: $color-active !important;
    text-decoration: none;
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 12%) !important;
      text-decoration: none;
    }
  }
}
