.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  cursor: pointer;
  user-select: none;
  outline: none !important;
  color: $text-color-base;
  border: 1px solid;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $font-size-base;
  border-radius: $btn-border-radius;
  background: #fff;
  border-color: $input-border-color;
}

a.btn {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-circle {
  width: $btn-circle-size;
  height: $btn-circle-size;
  padding: $btn-circle-size / 4.5;
  border-radius: 50%;
}

