.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $font-size-base;
  border-radius: $btn-border-radius;
  outline: none !important;
}

.btn-primary {
  @include button-variant($color-primary);
}

.btn-outline-primary {
  @include button-outline-variant($color-primary);
}

.btn-accent {
  @include button-variant($color-accent);
}

.btn-outline-accent {
  @include button-outline-variant($color-accent);
}

.btn-default {
  @include button-variant($btn-default-color);
}

.btn-outline-default {
  @include button-outline-variant($btn-default-color, true);
}

.btn-success {
  @include button-variant($btn-success-color);
}

.btn-outline-accent {
  @include button-outline-variant($color-accent);
}

.btn.small {
  padding: ($btn-padding-y * .9) ($btn-padding-x * .9);
  font-size: .875rem;
}

.btn.medium {
  padding: ($btn-padding-y * 1.125) ($btn-padding-x * 1.125);
  font-size: 1.125rem;
}

.btn-transparent  {
  background: rgba(#FFF, 0);
  border-color: rgba(#FFF, 0);
}

.btn-circle {
  width: $btn-circle-size;
  height: $btn-circle-size;
  padding: $btn-circle-size / 4.5;
  border-radius: 50%;
}
