.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $font-size-base;
  border-radius: $btn-border-radius;
  outline: none !important;
}

a.btn {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-primary {
  @include button-variant($color-primary);
}

.btn-outline-primary {
  @include button-outline-variant($color-primary);
}

.btn-accent {
  @include button-variant($color-accent);
}

.btn-outline-accent {
  @include button-outline-variant($color-accent);
}

.btn-default {
  @include button-variant($btn-default-bg);
}

.btn-outline-default {
  @include button-outline-variant($btn-default-bg, true);
}

.btn-success {
  @include button-variant($btn-success-bg);
}

.btn-outline-accent {
  @include button-outline-variant($color-accent);
}

.btn-sm {
  padding: ($btn-padding-y * .9) ($btn-padding-x * .9);
  font-size: .875rem;
}

.form-group-md .btn,
.btn-md {
  padding: ($btn-padding-y * 1.125) ($btn-padding-x * 1.125);
  font-size: 1.125rem;
}

.form-group-lg .btn,
.btn-lg {
  padding: ($btn-padding-y * 1.5) ($btn-padding-x * 1.5);
  font-size: 1.25rem;
}

.btn-transparent  {
  background: rgba(#FFF, 0);
  border-color: rgba(#FFF, 0);
}

.btn-circle {
  width: $btn-circle-size;
  height: $btn-circle-size;
  padding: $btn-circle-size / 4.5;
  border-radius: 50%;
}
