%container {
  margin: 0 auto;
}

.container {
  @extend %container;
  max-width: $container-width;
}

.container-lg {
  @extend %container;
  max-width: $container-lg-width;
}

.container-md {
  @extend %container;
  max-width: $container-md-width;
}

.container-sm {
  @extend %container;
  max-width: $container-sm-width;
}
