.dropdown {
    position: relative;

  &.in-transition .dropdown-menu,
  &.open .dropdown-menu {
    display: block;
  }

  .dropdown-header {
    padding: 1.2rem $dropdown-item-padding-x;
    border-radius: $dropdown-border-radius $dropdown-border-radius 0 0 ;
  }

  .dropdown-footer {
    display: block;
    padding: 1.2rem $dropdown-item-padding-x;
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
  }

  .dropdown-title {
    margin: 0;
  }

  .dropdown-menu {
    position: absolute;
    background: $dropdown-bg;
    border-radius: $dropdown-border-radius;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    z-index: $dropdown-menu-zindex;
    min-width: 130px;
    left: 10px;
    display: none;

    $bubble-width: 8px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-width: 0 $bubble-width $bubble-width;
      border-style: solid;
      border-color: $dropdown-bg rgba(#FFF, 0);
      width: 0;
      top: $bubble-width * -1;
      left: 15px;
      margin: auto;
    }

    &:before {
      $bubble-width: $bubble-width + 1px;
      border-width: 0 $bubble-width $bubble-width;
      border-color: rgba(#000, .18) rgba(#FFF, 0);
      top: $bubble-width * -1;
      left: 14px;
    }
  }

  &.dropdown-right {
    .dropdown-menu {
      left: auto;
      right: 10px;

      &:before,
      &:after {
        left: auto;
      }

      &:after {
        right:  15px;
      }

      &:before {
        right: 14px;
      }
    }
  }

  %dropdown-item {
    display: block;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  }

  .dropdown-item {
    @extend %dropdown-item;

    &.large {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    &.medium {
      padding-top: .8rem;
      padding-bottom: .8rem;
    }
  }

  a.dropdown-item {
    &:hover {
      background: rgba(0,0,0,.03);
    }
  }

  .dropdown-link {
    @extend %dropdown-item;
    color: #59686F;
    white-space: nowrap;

    &:hover, &:focus {
      text-decoration: none;
    }

    &:hover {
      color: #292e31;
    }

    &:first-child {
      padding-top: .6rem;
    }

    &:last-child {
      padding-bottom: .6rem;
    }
  }

  .dropdown-separator {
    &:before{
      content: "";
      display: block;
      height: 1px;
      background: rgba(0,0,0,.05);
      margin: .5rem .8rem;
    }
  }
}

.dropdown-button {
  user-select: none;
  cursor: pointer;
}
