.input {
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  width: 100%;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x;
  outline: none;
  color: $input-color;
  background: $input-bg;
  transition: border-color .2s, box-shadow .2s;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $input-color-placeholder;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  &:hover,
  &:focus,
  &.focus {
    border-color: $color-primary;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 7px rgba(39,128,248,.15);
  }
}

.form-group-lg .input,
.input-lg {
  font-size: 1.25em;
  padding: 0.782rem 0.85rem;
}

label {
  font-size: $font-size-base;
  margin-bottom: .6rem;
}


.input-subtext {
  color: $text-muted-color;
  font-size: 0.88em;
  margin-top: .8rem;
  display: block;
}

.form-group-warn {
  @include form-group-state($color-warn);
}

.form-group {

  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0.75rem;
}
