.input {
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  width: 100%;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x;
  outline: none;
  color: $input-color;
  background: $input-bg;
  transition: border-color .2s, box-shadow .2s;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $input-color-placeholder;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  &:hover {
    border-color: darken($input-border-color, 10%)
  }

  &:focus,
  &.focus {
    border-color: $input-border-color-highlight;
    box-shadow: $input-active-box-shadow;
  }
}

.form-group-lg .input,
.input-lg {
  font-size: 1.25em;
  padding: 0.782rem 0.85rem;
}

label {
  font-size: $font-size-base;
  margin-bottom: .6rem;
}


.input-subtext {
  color: $text-muted;
  font-size: 0.88em;
  margin-top: .8rem;
  display: block;
}

.form-group-warn {
  @include form-group-state($color-warning);
}

.form-group {

  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0.75rem;
}


// Radio and Checkbox

@if $input-style-check-n-radio {
  .input[type="checkbox"],
  .input[type="radio"] {
    width: $input-checkbox-size;
    height: $input-checkbox-size;
    transition: all .15s ease;
    appearance: none;
    vertical-align: -4px;
    cursor: pointer;
    position: relative;
    border-width: 0;
    background: center no-repeat;

    &,
    &:focus {
      box-shadow: inset 0 0 0 $input-checkbox-border-width $input-checkbox-color;
    }

    &:hover {
      box-shadow: inset 0 0 0 $input-checkbox-border-width * 1.5 $input-checkbox-color;
    }

    &:checked {
      box-shadow: none;
      background-image: $input-checkbox-icon;
      background-color: $input-checkbox-checked-bg;
    }
  }

  .input[type="radio"] {
    border-radius: 50%;
  }
}
