.input-group {
  display: flex;
  position: relative;
  width: 100%;

  @if $enable-flex {
    display: flex;
  } @else {
    display: table;
    border-collapse: separate;
  }

  @if $enable-flex {
    flex: 1;
  } @else {
    float: left;
    width: 100%;
  }

  .input {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }
}

.input-group-addon,
.input-group-btn,
.input-group .input {
  @if not $enable-flex {
    display: table-cell;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.input-group-addon,
.input-group-btn {
  @if not $enable-flex {
    width: 1%;
  }

  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}

.input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .btn {
    position: relative;
    + .btn {
      margin-left: -1px;
    }
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    .active {
      z-index: 3;
    }
  }

  // Negative margin to only have a single, shared border between the two
  &:not(:last-child) {
    > .btn,
    > .btn-group {
      margin-right: -1px;
    }
  }

  &:not(:first-child) {
    > .btn,
    > .btn-group {
      z-index: 2;
      margin-left: -1px;
      // Because specificity
      &:hover,
      &:focus,
      .active {
        z-index: 3;
      }
    }
  }
}


.input-group .input:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:not(:last-child) {
  border-right: 0;
}
.input-group .input:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.input-group-addon {
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $input-line-height;
  color: $input-color;
  text-align: center;
  background-color: $input-group-addon-bg;
  border: $input-btn-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius;

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}
