.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border-top: 1px solid #ddd;
  display: block;
  padding: $list-item-spacer-y $list-item-spacer-x;
}

.list-item-action {
  cursor: pointer;

  &:hover {
    background: $list-item-action-bg;
  }
}
