.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-horizontal {
  @extend .list;
  display: inline;

  > li {
    display: inline;
    margin: 0 .65rem 0 0;
  }
}

.anchor-list {
  @extend .list;

  > li {
    margin-bottom: .6rem;

    &.header {
      font-weight: 500;
    }

    > a {
      display: block;
      font-size: $font-size-base * .9;
    }
  }
}
