.modal-open{
  overflow: hidden;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 500;
  transition: background .5s, opacity .5s;
  padding: 60px ($grid-gutter-width / 2);
  display: none;
  overflow-y: auto;

  &.open,
  &.in-transition {
    display: block;
  }

  &.closed {
    overflow: hidden;
  }

  &.open {
    background: $modal-bg;
  }

  .modal-content {
    margin: 0 auto;
    position: relative;
  }

  .modal-card {
    background: #fff;
    border-radius: 3px;
  }

  .modal-footer,
  .modal-header {
    padding: $modal-padding-y $modal-padding-x;
  }

  .modal-body {
    padding-left: $modal-padding-x;
    padding-right: $modal-padding-x;
  }

  .modal-content {
    max-width: map-get($modal-sizes, default)
  }

  @each $classname in map-keys($modal-sizes) {
    &.modal-#{$classname} {
      $size: map-get($modal-sizes, $classname);
      @if $size != 0 && $classname != default {
        .modal-content {
          max-width: $size;
        }
      }
    }
  }
}
