.modal-open{
  overflow: hidden;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 500;
  transition: background .2s, opacity .1s;
  height: 0;
  width: 0;
  overflow: hidden;

  &.open,
  &.closed {
    width: auto;
    height: auto;
    overflow-y: auto;
    padding: 60px 0;
  }

  &.closed {
    opacity: 0;
    overflow: hidden;
  }

  &.open {
    background: $modal-backdrop-bg;
  }

  .modal-content {
    background: #fff;
    border-radius: 3px;
    width: 540px;
    min-height: 100px;
    margin: 0 auto;
  }

  .modal-footer,
  .modal-header {
    padding: $modal-padding-y $modal-padding-x;
  }

  .modal-body {
    padding-left: $modal-padding-x;
    padding-right: $modal-padding-x;
  }

}
