.navbar {
  @include clearfix();
  position: relative;
  padding: .5rem 0;
}

.navbar-brand {
  float: left;
  font-size: 1.25rem;
  padding-top: .22rem;
  padding-bottom: .22rem;
  margin-right: .5rem;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color-base;
  }
}

.navbar-nav {
  > li,
  .nav-item {
    margin-left: .4rem;
    float: left;
    display: inline-block;
  }

  .nav-link {
    display: block;
    padding: .425rem;
  }
}


.navbar-right {
  float: right;
}
