.navbar {
  @include clearfix();
  position: relative;
  padding: .5rem 0;
}

.navbar-brand {
  float: left;
  font-size: 1.25rem;
  padding-top: .22rem;
  padding-bottom: .22rem;
  margin-right: .5rem;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color-base;
  }
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
}

.nav-inline {
  > a,
  .nav-item,
  .nav-link {
    margin-right: .8rem;
  }
}

.nav-link {
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.nav-vertical {
  .nav-item,
  > li {
    display: block;
    margin-bottom: .5rem;
  }
}

.navbar-nav {
  > li,
  .nav-item {
    margin-left: .4rem;
    float: left;
    display: inline-block;
  }

  .nav-link {
    display: block;
    padding: .425rem;
  }
}

.nav-button {
  padding: .5rem 1rem;
}

.navbar-right {
  float: right;
}
