.slide {
  position: relative;
  display: flex;
  width: 100%;

  .slide-previous,
  .slide-next {
    margin: auto;
    outline: none;
    background: 0;
    border: 0;
    padding: 0 2rem;
  }

  &.slide-absolute {
    .slide-previous,
    .slide-next {
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  .slide-previous {
    left: 0;
  }

  .slide-next {
    right: 0;
  }

  .slide-body {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .slide-item {
    display: inline-block;
  }
}
