.tabs {
  .tab {
    display: inline-block;
    padding: $card-spacer-y $card-spacer-x;
    color: $tab-text-color;

    @include hover-focus {
      text-decoration: none;
    }
  }
}

@mixin tabs-variant($color, $hasIndicator: true, $indicator-color: $color) {
  .tab:hover {
    color: rgba($color, .8)
  }

  .tab.active {
    color: $color !important;

    @if $hasIndicator {
      box-shadow: inset 0 -2px $indicator-color;
    }
  }
}

.tabs-accent {
  @include tabs-variant($color-accent)
}

.tabs-light {
  @include tabs-variant(#FFF, true, #6ECEF7)
}
