// Base variables
// Variables with !default are overwritten by the app's variables

// Enable flex
$enable-flex: true;

// Colors
$color-primary: #007ee5 !default;
$color-primary-dark: #026DC5 !default;
$color-accent: #6772E5 !default;
$color-success: #60BB4D !default;
$color-warning: #D32F2F !default;

// Variables
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1200px
) !default;

// Font
$font-family-base: Arial, Helvetica, sans-serif !default;
$line-height-base: 1.5 !default;
$line-height-paragraph: $line-height-base !default;
$font-size-root: 16px !default;
$font-size-base: 16px !default;
$text-color-base: #333 !default;
$body-bg: #FFF !default;


$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: .5rem !default;
$headings-line-height: 1.15 !default;
$headings-font-weight: 500 !default;
$headings-color: inherit !default;

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Buttons
$btn-padding-x: 1rem !default;
$btn-padding-y: .6rem !default;
$btn-line-height: 1.2 !default;
$btn-font-weight: 500 !default;
$btn-border-radius: 3px !default;
$btn-outline-fill: false;
$btn-lighten: false;
$btn-circle-size: 2.375rem;

// Forms
$input-padding-x: .65rem !default;
$input-padding-y: .6rem !default;
$input-line-height: 1.2 !default;
$input-bg: #FFF !default;
$input-border-width: 1px !default;
$input-border-color: #ccc !default;
$input-border-color-highlight: $color-primary !default;
$input-color: $text-color-base !default;
$input-color-placeholder: rgba(#000,.35) !default;
$input-border-radius: 4px !default;
$input-active-box-shadow: none !default;


$input-checkbox-size: 20px !default;
$input-checkbox-color: rgba(207,215,223,.75) !default;
$input-checkbox-border-width: 2px !default;
$input-checkbox-checked-bg: $color-accent !default;
$input-checkbox-icon: url('../../images/icon-check.svg') !default;

$input-style-check-n-radio: true !default;

$input-group-addon-bg: #FAFAFB  !default;
$input-btn-border-width: $input-border-width  !default;
$input-group-addon-border-color: $input-border-color !default;

// Dropdown
$dropdown-bg: #FFF;
$dropdown-item-padding-x: 1.4rem;
$dropdown-item-padding-y: .38rem;
$dropdown-border-radius: 4px;
$dropdown-menu-zindex: 5999;

// Modal
$modal-bg: rgba(#000, .6) !default;
$modal-padding-x: 1.25rem !default;
$modal-padding-y: 1rem !default;
$modal-sizes: (
  default: 552px,
  sm: 468px,
  lg: 868px
) !default;

// Card
$card-bg: #FFF !default;
$card-header-bg: #FBFCFD !default;
$card-border-width: 1px !default;
$card-border-color: #E3E8F6 !default;
$card-border-radius: 6px !default;
$card-spacer-x: 1.25rem;
$card-spacer-y: .75rem;

// List
$list-item-spacer-y: .75rem;
$list-item-spacer-x: 1.25rem;
$list-item-action-bg: #F5F5F5;

// Link
$link-color: #007ee5 !default;
$link-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: underline !default;

// Margin
$margin-horizontal: .5rem .8rem 1.25rem !default;
$margin-vertical: 1rem 2rem 2.5rem !default;

// Text
$text-muted: #999 !default;
$text-muted-dark: #666 !default;

$text-light-weight: 300 !default;
$text-semibold-weight: 600 !default;

// Hr
$hr-color: rgba(0,0,0,.1) !default;
$hr-muted-color: rgba(0,0,0,.05) !default;

// Table
$table-border-radius: 6px;
$table-border-color: #eceeef;
$table-bg: #FFF;
$table-text-color: $text-color-base;
