// Base variables
// Variables with !default are overwritten by the app's variables

// Colors
$color-primary: #007ee5 !default;
$color-primary-dark: #026DC5 !default;
$color-accent: #E91E63 !default;

// Containers
$container-width: 1000px;
$container-sm-width: 400px;
$container-md-width: 600px;
$container-lg-width: 800px;

// Font
$font-family-base: Arial, Helvetica, sans-serif !default;
$line-height-base: 1.5 !default;
$font-size-root: 16px !default;
$font-size-base: 16px !default;
$text-color: #333 !default;
$body-bg: #FFF !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: .5rem !default;
$headings-line-height: 1.15 !default;
$headings-font-weight: 500 !default;
$headings-color: inherit !default;

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

// Buttons
$btn-padding-y: 10px !default;
$btn-padding-x: 14px !default;
$btn-line-height: 1.25 !default;
$btn-border-radius: 4px !default;
$btn-font-weight: 500 !default;

// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .625rem !default;
$input-line-height: 1.2 !default;

$input-lg-font-size: 20px !default;
$input-lg-padding-y: .67rem !default;
$input-lg-padding-x: .8rem !default;

// link
$link-color: #007ee5 !default;
$link-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: underline !default;

// Utils
$util-margin-horizontal: 1rem;
$util-margin-vertical: 2rem;
